* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  width: 320px;
}
.header {
  position: relative;

  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #515151;
}
.header_burger {
  width: 30px;
  height: 30px;
}
.header_burger img {
  width: 100%;
  height: 100%;
}
.header_logo {
  width: 100px;
  height: 65px;
}
.header_nav {
  position: absolute;
  z-index: 30;
  left: 0;
  top: 100px;
  display: none;
  flex-direction: column;
  list-style: none;
  width: 100%;
}
.header_nav__item {
  /* width: 100%; */
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid grey;
}
.header_nav__item a {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */
  color: #000000;
  text-decoration: none;
}
.header_busket {
  width: 30px;
  height: 30px;
}
.header_busket img {
  width: 100%;
  height: 100%;
}
.preview {
  position: relative;
  height: 540px;
  background-image: url("../img/love2.png");
  background-repeat: no-repeat;
}
.preview_bg {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 540px;
}
.preview_bg img {
  width: 100%;
  height: 100%;
}
.preview_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}
.preview_info h1 {
  padding: 10px;
  display: flex;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 120%;
  /* or 48px */

  text-align: center;

  color: #000000;
}
.preview_info div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  text-align: center;

  color: #000000;
}
.preview_info button {
  height: 56px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  border: 0;
  background: #ffb55a;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 100%;
  color: #000000;
}
.about_me {
  position: relative;
}
.about_me h2 {
  padding-top: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  text-align: center;

  color: #000000;
}
.about_me p {
  padding: 30px 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 150%;
  /* or 22px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
}
.portfolio {
  width: 100%;
}
.portfolio .service {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  text-align: center;

  color: #000000;
}
.portfolio_cards {
  padding: 30px 15px;
}
.portfolio_card {
  width: 100%;
}
.portfolio_card__photo {
  width: 100%;
  object-fit: contain;
}
.portfolio_card__photo img {
  width: 100%;
  height: 100%;
}
.portfolio_more {
  padding: 10px 30px;
  background: transparent;
  border: 1px solid transparent;
  text-decoration: underline;
}
.reviews {
  width: 100%;
}
.reviews_title {
  color: #515151;
}
.reviews_slider{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews_cards {
  width: max-content;
}
.reviews_card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews_card__title{
  color: #515151;
}
.reviews_card__info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews_cards__star{
width: 40px;
}
.reviews_cards__data{
  color: #000;
}
.reviews_cards__desc{
  color: #000;
}
.reviews_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reviews_btn__item {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 50%;
  background: rgb(233, 216, 169);
  transition: all, 0.5s;
}

.reviews_btn__item:hover {
  background: orange;
}

@media screen and (min-width: 540px) {
  .container {
    width: 520px;
  }
  .portfolio_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio_card {
    width: 300px;
  }
  .reviews_card{
    width: 300px;
  }
}
@media screen and (min-width: 980px) {
  .container {
    width: 960px;
  }
}
