* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}
.container {
  width: 100%;
  min-width: 320px;
  max-width: 540px;
  padding: 10px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #515151;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header_burger {
  width: 30px;
  height: 30px;
}
.header_burger img {
  width: 100%;
  height: 100%;
}
.header_logo {
  width: 100px;
  height: 65px;
}
.header_nav {
  position: absolute;
  z-index: 30;
  left: 0;
  top: 100px;
  display: none;
  flex-direction: column;
  list-style: none;
  width: 100%;
}
.header_nav__item {
  /* width: 100%; */
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid grey;
}
.header_nav__item a {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */
  color: #000000;
  text-decoration: none;
}
.menu_tel {
  display: none;
}
.header_busket {
  width: 30px;
  height: 30px;
}
.header_busket img {
  width: 100%;
  height: 100%;
}
/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 200;
}
.popup{
  width: 100%;
  min-width: 280px;
  max-width: 640px;
  padding: 10px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
}
/* Modal */

.preview {
  position: relative;
  width: 100%;
  height: 540px;
  background-image: url("../img/love2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.preview_bg {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 540px;
}
/* .preview_bg img {
  width: 100%;
  height: 100%;
} */
.preview_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}
.preview_info h1 {
  padding: 10px;
  display: flex;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 120%;
  /* or 48px */

  text-align: center;

  color: #000000;
}
.preview_info div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  text-align: center;

  color: #000000;
}
.preview_info button {
  height: 66px;
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: #ffb55a;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #000000;
  transition: background-color 0.3s 0.1s ease;
}
.preview_info button:hover {
  background: #db9b4d;
  
}
.about_me {
  position: relative;
}
.about_me div {
  display: flex;
  flex-direction: row;
}
.about_me img {
  display: none;
}
.about_me h2 {
  padding-top: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  text-align: center;

  color: #000000;
}
.about_me p {
  padding: 30px 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 150%;
  /* or 22px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
}
.portfolio {
  width: 100%;
}
.portfolio .service {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  text-align: center;

  color: #000000;
}
.portfolio_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}
.portfolio_card {
  width: 100%;
  margin: 10px;
}
.portfolio_card__photo {
  width: 100%;
  height: 320px;
  object-fit: contain;
}
.portfolio_card__photo img {
  width: 100%;
  height: 100%;
}
.portfolio_more {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 21px */

  text-decoration-line: underline;

  color: #ffb55a;
}
.portfolio-card-title > .title {
  padding-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
}
.portfolio-card-title > .text {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 150%;
  /* or 15px */

  text-align: center;
  letter-spacing: 0.03em;

  color: #000000;
}
.portfolio-link {
  display: inline-block;
  width: 100%;
  border-right: 1px solid #ebe6e6;
  border-bottom: 1px solid #ebe6e6;
  border-left: 1px solid #ebe6e6;
}
/* --- */
.headers {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  text-align: center;

  color: #000000;
}
.advantages_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.advantages_description {
  width: 170px;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  /* or 22px */

  text-align: center;

  color: #000000;
}
/* --- */

/* --- */
.procedure {
  width: 100%;
}
.procedure_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  text-align: center;

  color: #000000;
}
.procedure_wrap {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 30px;
}
.procedure_list {
  /* width: 480px;
  height: 450px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.procedure_list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 330px;
}
.procedure_arrow {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.procedure_arrow img {
  width: 84px;
}
.procedure_text {
  /* width: max-content; */
  /* min-width: 210px;
  max-width: 350px; */
  padding: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 120%;
  color: #000000;
}
.procedure_question {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.procedure_question img {
  width: 21px;
}
.procedure_wrap .photo {
  display: none;
  /* width: 954px;
  height: 450px; */
}
.center_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  height: 66px;
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: #ffb55a;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #000000;
  transition: background-color 0.3s 0.1s ease;
}
.button:hover {
  background: #db9b4d ;
}
/* --- */
.reviews {
  width: 100%;
}
.reviews_title {
  padding-top: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */

  text-align: center;

  color: #000000;
}
.reviews_slider {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}
.reviews_cards {
  flex-wrap: nowrap;
}
.reviews_card {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ebe6e6;
  box-sizing: border-box;
  width: 290px;
  min-height: 150px;
}
.reviews_card__title {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-align: center;

  color: #000000;
}
.reviews_card__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews_cards__star {
  padding: 10px;
  width: 40px;
  content: "★";
  color: #ffb55a;
}
.reviews_cards__data {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 15px */

  letter-spacing: 0.02em;

  color: #000000;
}
.reviews_cards__desc {
  padding: 10px;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 150%;
  /* or 15px */

  letter-spacing: 0.02em;

  color: #000000;
}
.reviews_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.reviews_btn__item {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 50%;
  background: rgb(233, 216, 169);
  transition: all, 0.5s;

  margin: 5px;
}

.reviews_btn__item:hover {
  background: orange;
}
.reviews_btn__item:current {
  background: #ffffff;
}
footer {
  border-top: 1px solid #000;
}
.social_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 35px 32px;
}
.social-icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social-icons img {
  height: 32px;
  transition: all 1s ease-out;
}
.social-icons img:hover {
  transform: scale(2);
}
@media screen and (min-width: 540px) {
  .container {
    max-width: 520px;
  }
  .portfolio_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio_card {
    margin: 15px;
    width: 300px;
  }
  .reviews_card {
    width: 300px;
  }
}
@media screen and (min-width: 980px) {
  .container {
    max-width: 1460px;
  }
  .about_me p {
    font-size: 30px;
  }
  .about_me h2 {
    font-weight: bold;
    font-size: 60px;
  }
  .about_me img {
    display: block;
  }
  .portfolio .service {
    font-weight: bold;
    font-size: 60px;
  }
  .portfolio_card {
    width: 460px;
  }
  .portfolio_cards {
    margin: -15px;
  }
  .headers {
    font-weight: bold;
    font-size: 60px;
  }
  .procedure_title {
    font-weight: bold;
    font-size: 60px;
  }
  .reviews_title {
    font-weight: bold;
    font-size: 60px;
  }
  .header_nav {
    display: flex;
    position: relative;
    z-index: 30;
    left: auto;
    top: auto;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    width: 100%;
    max-width: 800px;
  }
  .header_burger {
    display: none;
  }
  .header_nav__item {
    position: relative;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid transparent;
  }
  .header_nav__item::after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 0px;
    height: 2px;
    background: #000;
    transition: all, 0.4s;
  }
  .header_nav__item:hover::after {
    width: 100%;
  }
  .header_nav__item a {
    font-size: 18px;
  }
  .menu_tel {
    display: flex;
  }
  .menu_tel a {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  .preview {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 820px;
    background-image: url("../img/love.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .preview_info {
    height: 820px;
    width: 670px;
    justify-content: center;
    align-items: flex-start;
  }
  .preview_info h1 {
    font-size: 70px;
  }
  .preview_info div p {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding: 70px 0;
  }
  .preview_info button {

  }
  .advantages_item {
    width: 450px;
    display: flex;
    justify-content: center;
  }
  .procedure .photo {
    display: block;
  }
  .reviews_slider {
    width: 100%;
    padding: 0;
  }
  .reviews_cards {
    width: 1460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reviews_card {
    width: 450px;
    padding: 20px;
  }
  .portfolio-link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .portfolio_card {
    height: 550px;
    align-self: stretch;
    transition: all, 0.5s;
  }

  .portfolio_card:hover {
    height: 550px;
    align-self: stretch;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 1366px) {
  .menu-nav {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    margin-right: auto;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .menu_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .menu-item {
    color: black;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
  }
  .menu-item a {
    color: black;
    text-decoration: none;
  }
  .menu-item:not(:last-child) {
    margin-right: 50px;
  }
}
