:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --button-bcg: #f5f4fa;
    --border: #eeeeee;
    --adw: #2F303A;
}
p, h1, h2, h3, ul {
    margin: 0px;
}
li {
    list-style-type: none
}
/*  hover и focus для ссылок навигации по сайту*/
.link.current,
.link:hover,
.link:focus {
  color: var(--text-accent);
}
/* Общее - скрыть объект */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
address {
    display: block;
    font-style: italic;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: var(--accent-color);

    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo.header {
	color: var(--title-text-color);
	font-size: 26px;
}
.logo.footer {
    color: var(--white-color);
}
.container {
    width: 1200px;
    padding: 0px 15px ;
    margin-left: auto;
    margin-right: auto;   
}
.flexbox {
    display: flex;
}
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border);
}
.page-header .email {
    margin-right: 50px;
}
.page-header .flexbox {
    align-items: center;
    justify-content: flex-end;
}
.menu_nav .link {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.menu_nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 90px;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-list {
    display: flex;
}
.email_tel {
    display: flex;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.email {
    text-decoration: none;
   

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}
.tel {
    text-decoration: none;
   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
}
.hero {
    text-align: center;
    background: var(--adw);
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), 
        url(../Img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero_txt {
    /* Эффективные решения для вашего бизнеса */
        color: var(--white-color);
    
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        padding-top: 200px;
        margin-bottom: 30px;
    }
.hero_butt {
    color: var(--white-color);
    background-color: var(--accent-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;

    text-decoration: none;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 204px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.li-filter-button {
    margin-right: 8px;
}
.buttons .filter-button {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    color: var(--title-text-color);
    background-color: var(--button-bcg);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.adw .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-top: 0px;
	margin-bottom: 10px;
}
.adw {
	font-size: 14px;
	line-height: 1.71;

	margin-top: 0px;
	margin-bottom: 0px;
}
.title-label {
    /* Чем мы занимаемся */
    /* Наша команда */

    color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
    text-align: center;
    
    margin-top: 0;
    margin-bottom: 50px;
}
.ul-list {
    display: flex;
    flex-wrap: wrap;
}
.four-item {
    width: calc((100% - 30px*3)/4);
    margin-right: 30px;
    margin-bottom: 30px;
}
.four-item:nth-child(4n) {
    margin-right: 0;
}
.gallery-item {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
.gallery-item:nth-child(3n) {
    margin-right: 0;
}
.card-content {
    width: 370px;
    padding: 20px 24px;
    border: 1px solid var(--border);
    border-top: 0px;
}
.frame {
    background: #FFFFFF;
    height: 368px;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item {
    width: calc((100% - 30px*3)/4);
    margin-right: 30px;
    margin-bottom: 30px;
}
.team-item:nth-child(4n) {
    margin-right: 0;
}
.team {
	background-color: var(--button-bcg);
} 
.team .title {
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
    text-align: center;
}
.position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}
.section {
    padding-top: 94px;
	padding-bottom: 94px;
}
.features {
    padding-bottom: 0px;
}
.features .title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-description {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
}
.portfolio-list {
    padding: 0;
}
.name-mosaic {
    font-family: roboto, sans-serif;
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    white-space: nowrap;
    
}
.description-mosaic {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */

    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.link.current {
	color: var(--accent-color);
}
.footer {    
    background: #2F303A;    
}
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-links .location {
	color: var(--white-color);

	font-style: normal;
	font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-links .title {
    color: rgba(255, 255, 255, 0.6);
    
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
.footer-links .title:hover {
	color: var(--accent-color);
}
.footer a{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-links a, 
.location {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 9px;
}
