*{
    margin: 0 auto;
}
.body{
    color: white;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
}
.logo {
    position: absolute;
    left: 12.34%;
    right: 82.08%;
    top: 17.82%;
    bottom: 17.82%;
}
.header {
    position: absolute;
    height: 101px;
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 1920px;
}
.main-nav {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}
.list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.item {
    color: white;
    
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;   
}
.about-me{
    color: black;
    position: absolute;
    left: 480px;
    top: 37px;
    bottom: 38.61%;
    text-decoration: none;
    width: 200px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    
}
.photographer-service{
    color: black;
    position: absolute;
    margin-left: 561px;
    top: 37px;
    bottom: 38.61%;
    text-decoration: none;
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;

}
.contact{
    color: black;
    position: absolute;
    left: 785px;
    top: 37px;
    text-decoration: none;
    width: 300px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}
.profit{
    color: black;
    position: absolute;
    left: 893px;
    top: 37px;
    text-decoration: none;
    width: 300px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}
.Procedure{
    color: black;
    position: absolute;
    left: 1002px;
    top: 37px;
    bottom: 38.61%;
    text-decoration: none;
    width: 300px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}
.review{
    color: black;
    position: absolute;
    left: 1168px;
    top: 37px;
    text-decoration: none;
    width: 300px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}
.contact-link{
    color: black;
    position: absolute;
    left: 1389px;
    top: 34px;
    text-decoration: none;
    width: 300px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
}
.bag{
    position: absolute;
    left: 1655px;
    top: 29px;
}
.love-figure{     
    max-width: 1920px;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    
}
.love-img{     
    max-width: 1920px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-top: 1px solid 
}
.love-description-1 {
    position: absolute;
    width: 651px;
    height: 84px;
    left: 236px;
    top: 236px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
}
.love-description-2 {
    position: absolute;
    width: 568px;
    height: 84px;
    left: 236px;
    top: 420px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 140%;
}
.button-1 {
    text-decoration: none;
    outline: none;
    display: block;
    flex-direction: row;
    padding: 15px 40px;

    position: absolute;
    width: 220px;
    height: 36px;
    left: 239px;
    top: 609px;

    background: #FFB55A;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 100%;
    color: #000000;
}
.button-2 {
    text-decoration: none;
    outline: none;
    display: flex;
    flex-direction: row;
    padding: 15px 40px;
    
    position: absolute;
    width: 220px;
    height: 36px;
    left: 807px;
    top: 5683px;
    
    background: #FFB55A;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 100%;
    color: #000000;
}
.nikon {
    position: absolute;
    width: 598px;
    height: 450px;
    left: 235px;
    top: 1111px;

    background: url(2.jpg)
}
.nikon-description-1 {    
    position: absolute;
    width: 272px;
    height: 72px;
    left: 820px;
    top: 1061px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}
.nikon-description-2 {
    position: absolute;
    width: 667px;
    height: 315px;
    left: 975px;
    top: 1193px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */
    
    letter-spacing: 0.02em;
    
    color: #000000;
}
.frame-1 {    
    position: absolute;
    width: 1450px;
    height: 2690px;
    left: 235px;
    top: 1701px;
    padding-top: 127px;
}
.service {
    position: absolute;
    width: 553px;
    height: 67px;
    left: 447px;
    top: 0px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
}
.description-title {
    height: 42px;
    margin: 0;
    padding-top: 19px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;


    text-align: center;

    color: #000000;
}
.description-content {

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
    padding: 23px;

    letter-spacing: 0.02em;
    
    color: #000000;
}
.mosaic-img {
    width: 462px;
    height: 318px;
    left: 0px;
    top: 0px; 
}
.mosaic_1 {
    position: absolute;
    width: 462px;
    height: 618px;
    left: 0;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */ 
}
.mosaic_2 {
    position: absolute;
    width: 462px;
    height: 618px;
    margin-left: 495px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */ 
}
.mosaic_3 {
    position: absolute;
    width: 462px;
    height: 618px;
    margin-left: 988px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */ 
    
}
.mosaic_4{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 0;
    top: 775px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */ 
}
.mosaic_5{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 495px;
    top: 775px;    
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5); /* Параметры тени */  
}
.mosaic_6{
    position: absolute;
    width: 463px;
    height: 617px;
    left: 988px;
    top: 775px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */   
}
.mosaic_7{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 0;
    top: 1422px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */   
}
.mosaic_8{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 495px;
    top: 1422px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */  
}
.mosaic_9{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 988px;
    top: 1422px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */  
}
.mosaic_10{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 2px;
    top: 2070px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */  
}
.mosaic_11{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 495px;
    top: 2070px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */  
}
.mosaic_12{
    position: absolute;
    width: 462px;
    height: 618px;
    left: 988px;
    top: 2070px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.5); /* Параметры тени */  
}
.frame-2 {
    position: absolute;
    width: 1313px;
    height: 372px;
    left: 240px;
    top: 4531px;
}
.advantages {
    position: absolute;
    width: 553px;
    height: 67px;
    left: 500px;
    top: 0px;
    margin: 0;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px    /* or 72px */ 
}
.icon-adv {
    position: absolute;
    left: -0.9%;
    right: 79.88%;
    top: 14.43%;
    bottom: 13.4%;
}
.description-advantages {
    position: absolute;
    left: 30.03%;
    right: 9.31%;
    top: 31.96%;
    bottom: 24.29%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}
.sked-1 {
    position: absolute;
    width: 333px;
    height: 96px;
    left: 0px;
    margin-top: 132px;
}
.sked-2 {
    position: absolute;
    width: 333px;
    height: 96px;
    margin-left: 494px;
    margin-top: 132px;
}
.sked-3 {
    position: absolute;
    width: 333px;
    height: 96px;
    margin-left: 983px;
    margin-top: 132px;
}
.sked-4 {
    position: absolute;
    width: 333px;
    height: 96px;
    left: 0px;
    margin-top: 278px;
}
.sked-5 {
    position: absolute;
    width: 333px;
    height: 96px;
    margin-left: 494px;
    margin-top: 278px;
}
.sked-6 {
    position: absolute;
    width: 333px;
    height: 96px;
    margin-left: 983px;
    margin-top: 278px;
}
.frame-3 {
    position: absolute;
    width: 1445px;
    height: 580px;
    left: 235px;
    top: 5043px;
}
.operating-procedure {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    
    text-align: center;
}
.list-1{
    position: absolute;
    height: 30px;
    left: 0;
    top: 130px;
}
.list-text{
    position: absolute;
    width: 170px;
    height: 30px;
    left: 114.5px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    color: #000000;
}
.arrow{
    position: absolute;
    width: 84px;
    left: 0.5px;
    top: 15px;
}
.question{
    position: absolute;
    width: 21px;
    height: 21px;
    left: 315px;
    top: 8px;
}
.list-2{
    position: absolute;
    height: 30px;
    left: 0;
    top: 190px;
}
.list-3{
    position: absolute;
    height: 30px;
    left: 0;
    top: 250px;
}
.list-4{
    position: absolute;
    height: 30px;
    left: 0;
    top: 310px;
}
.list-5{
    position: absolute;
    height: 30px;
    left: 0;
    top: 370px; 
}
.list-6{
    position: absolute;
    height: 30px;
    left: 0;
    top: 430px; 
}
.list-7{
    position: absolute;
    height: 30px;
    left: 0;
    top: 490px;
}
.list-8{
    position: absolute;
    height: 30px;
    left: 0;
    top: 550px; 
}
.frame-4 {
    position: absolute;
    width: 1450px;
    height: 663px;
    left: 237px;
    top: 5889px;
}
.list-text-2{
    position: absolute;
    width: 86px;
    height: 42px;
    left: 188px;
    top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
}
.mosaic_13{
    position: absolute;
    width: 462px;
    height: 452px;
    left: 0px;
    top: 145px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.3); /* Параметры тени */ 
}
.mosaic_14 {
    position: absolute;
    width: 462px;
    height: 452px;
    left: 492px;
    top: 145px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.3); /* Параметры тени */ 
}
.mosaic_15 {
    position: absolute;
    width: 462px;
    height: 452px;
    left: 984px;
    top: 145px;
    background: rgb(255, 255, 255); /* Цвет фона */
    box-shadow: 5px 5px 18px rgba(0,0,0,0.3); /* Параметры тени */ 
}
.list-text-3{
    position: absolute;
    width: 90px;
    height: 27px;
    left: 352px;
    top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.02em;

}
.reviews {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    text-align: center;

    color: #000000;
}
.place-photo{
    position: absolute;
    width: 954px;
    height: 450px;
    left: 490px;
    top: 130px;
}
.stars-1 {
    position: absolute;
    width: 120px;
    height: 20px;
    left: 21px;
    top: 102px;
}
.stars-2 {    
    position: absolute;
    width: 120px;
    height: 20px;
    left: 21px;
    top: 102px;
}
.stars-3 {    
    position: absolute;
    width: 120px;
    height: 20px;
    left: 21px;
    top: 102px;
}
.slider {
    position: absolute;
    width: 80px;
    height: 20px;
    left: 680px;
    top: 652px;
}
.arrow-2 {
    position: absolute;
    width: 84px;
    left: 0px;
    top: 652px;
}
.arrow-1 {    
    position: absolute;
    width: 84px;
    left: 1360px;
    top: 652px;
}
.list-description-1 {
    position: absolute;
    width: 410px;
    height: 90px;
    left: 26px;
    top: 152px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */

    letter-spacing: 0.02em;

    color: #000000;
    }
.footer {
    position: absolute;
    width: 1920px;
    height: 215px;
    left: 0px;
    top: 6671px;
}
.nav-1 {
    position: absolute;
    left: 12.34%;
    right: 78.12%;
    top: 10.7%;
    bottom: 23.26%;
}
.nav-2 {
    position: absolute;
    left: 37.97%;
    right: 51.93%;
    top: 9.77%;
    bottom: 24.19%;
}
.phone {
    position: absolute;
    width: 160px;
    height: 32px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.email {
    position: absolute;
    width: 183px;
    height: 32px;
    left: 0px;
    top: 52px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;     
    color: #000000;
}
.map {    
    position: absolute;
    width: 133px;
    height: 32px;
    left: 0px;
    top: 104px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.wedd {
    position: absolute;
    width: 161px;
    height: 32px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.school {
    position: absolute;
    width: 194px;
    height: 32px;
    left: 0px;
    top: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.studio {
    position: absolute;
    width: 141px;
    height: 32px;
    left: 0px;
    top: 104px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.social-descripion-container {
    position: absolute;
    width: 357px;
    height: 32px;
    left: 1221px;
    top: 23px;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.social-icons {
    position: absolute;
    width: 600px;
    left: 1221px;
    top: 96px;
    bottom: 66px;
}
.social-instagram {
    position: absolute;
    left: 0px;
    top: 44.65%;
    bottom: 32.09%;
}
.social-facebook {
    position: absolute;
    left: 137px;
    top: 46.05%;
    bottom: 30.7%;
}
.social-whatsapp {
    position: absolute;
    left: 274px;
    top: 44.65%;
    bottom: 32.09%;
}
.social-tg {

    position: absolute;
    left: 411px;
    top: 44.65%;
    bottom: 32.09%;
}
________
body {
    font-family: Arial, sans-serif;
    background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }